<%= form_for @uploadedfile, :html=> {:multipart=>true } do |f| %>
  <% if @uploadedfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uploadedfile.errors.count, "error") %> prohibited this uploadedfile from being saved:</h2>

      <ul>
      <% @uploadedfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :activity_id %><br />
    <%= f.text_field :activity_id %>
  </div>
<div class="field">
<%=f.file_field :name%>
</field> 
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :permission %><br />
    <%= f.text_field :permission %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
