<h1>Listing uploadedfiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Activity</th>
    <th>Time</th>
    <th>Permission</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @uploadedfiles.each do |uploadedfile| %>
  <tr>
    <td><%= uploadedfile.name %></td>
    <td><%= uploadedfile.user_id %></td>
    <td><%= uploadedfile.activity_id %></td>
    <td><%= uploadedfile.time %></td>
    <td><%= uploadedfile.permission %></td>
    <td><%= link_to 'Show', uploadedfile %></td>
    <td><%= link_to 'Edit', edit_uploadedfile_path(uploadedfile) %></td>
    <td><%= link_to 'Destroy', uploadedfile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Uploadedfile', new_uploadedfile_path %>
