<h1>Listing activities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>User</th>
    <th>Institute</th>
    <th>Details</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.name %></td>
    <td><%= activity.type %></td>
    <td><%= activity.user_id %></td>
    <td><%= activity.institute_id %></td>
    <td><%= activity.details %></td>
    <td><%= activity.image_url %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_activity_path %>
